$main-color-dark: #000000;
$main-color-light: #ffffff;
$main-theme-color: #004685;
$hover-theme-color: #569ddc;
$main-accent-color: #d30531;
$hover-accent-color: #e1133f;


$main-font-family: "Open Sans", "Arial", sans-serif;

$min-mobile-width: 320px;
$max-mobile-width: 799px;
$min-desktop-width: 800px;
$max-desktop-width: 1280px;
