.page {
  height: 100%;
  position: relative;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;

  &--inactive {
    overflow: hidden;
  }
}

.page main {
  margin-top: 68px;
}

@media (max-width: $max-mobile-width) {
  .page main {
    margin-top: 49px;
  }
}
