.payment-type {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;

  &:not(:last-of-type) {
    border-bottom: 1px solid transparentize($main-theme-color, 0.8);
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

.types__list {
  margin-top: 15px;
}

.payment-type__title {
  @include font-sizes(25px, 32px, 600);
  margin-top: 0;
  margin-bottom: 21px;
}

.payment-type__picture {
  flex-basis: 33.3%;
  flex-shrink: 0;
}

.payment-type__info {
  flex-basis: 62.5%;

  svg {
    display: none;
  }
}

.payment-type__info-block {
  display: flex;
  flex-direction: column;
}

.payment-type__text {
  margin-top: 0;
  margin-bottom: 13px;
}

.payment-type__accented {
  margin-top: 21px;
  color: $main-accent-color;
  font-weight: 700;
  text-transform: uppercase;
}


@media (max-width: $max-mobile-width) {
  .payment-type {
    padding-top: 0;
    padding-bottom: 0;

    &--closed {
      .payment-type__info-block {
        display: none;
      }

      .payment-type__header::after {
        transform: rotate(180deg);
        top: 25px;
      }
    }
  }

  .payment-type__picture {
    display: none;
  }

  .payment-type__info {
    flex-basis: 100%;

    svg {
      display: block;
      flex-shrink: 0;
    }
  }

  .payment-type__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 56px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: $main-theme-color;
    border-color: $main-theme-color;


    &::after {
      @include sizes(5px, 5px);
      content: "";
      position: absolute;
      flex-shrink: 0;
      right: 0;
      top: 21px;
      border: 5px solid transparent;
      border-bottom: 5px solid $main-theme-color;
    }

    &:hover,
    &:focus {
      border-color: $hover-theme-color;
      color: $hover-theme-color;

      &::after {
        border-bottom: 5px solid $hover-theme-color;
      }
    }

    &:active {
      opacity: 0.7;
    }
  }

  .payment-type__title {
    @include font-sizes(16px, 24px, 600);
    margin: 0 auto 0 11px;
    border-bottom: 1px dotted $main-theme-color;
    border-color: inherit;
  }

  .payment-type__info-block {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .payment-type__accented {
    margin-top: 9px;
  }
}
